	   <nav class="pcoded-navbar">
		  <div class="navbar-wrapper">
			 <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: calc(100vh - 70px);">
				<div class="navbar-content scroll-div" style="overflow: hidden; width: 100%; height: calc(100vh - 70px);">
				   <ul class="nav pcoded-inner-navbar">
					  <li class="nav-item pcoded-menu-caption"> <label>Навигация</label> </li>
					  <li class="nav-item "> <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Главная</span></a> </li>
					  <li class="nav-item "> <a href="/profile.html" class="nav-link"> <span class="pcoded-micon"><i class="feather icon-user"></i></span> <span class="pcoded-mtext">Страница</span></a> </li>
					  <li class="nav-item "> <a href="/select" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Выбрать камеру</span></a> </li>
					  <li class="nav-item "> <a href="/chart-morris.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">График</span></a> </li>
					  <li class="nav-item "> <a href="/map" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Карта</span></a></li>
				   </ul>
				</div>
			 </div>
		  </div>
	   </nav>